html,
body {
  margin: 0;
  padding: 0;
}

header {
  padding: 0;
  margin: 0;
  background: #ccffcc;
  display: grid;
  grid-template-columns: 7fr 3fr;
}

header .title_logo {
  padding: 2em;
}

header .create_thread {
  display: flex;
  align-items: center;
}